.container-fluid {
    margin-top: 2rem;
    padding: 0 4rem;
}

.buttons > *{
    margin-right: 0.5rem;
}
.recipe-img {
    margin-bottom: 1rem;
    width: 100%;
}

a {
    color: #333;
}
a:hover {
    text-decoration: none;
    color: #333;
}
.recipe-thumbnail {
    margin-bottom: 2rem;
    transition: 0.25s linear;
}
.recipe-thumbnail:hover {
    box-shadow: 0.5px 0.5px 3px rgba(0,0,0,0.35);
}
.recipe-title {
    text-transform: capitalize;
}
.card-img {
    width:100%;
    background-size: cover;
    background-position: center;
}
.card-img:after {
    content: "";
    display: block;
    padding-bottom:75%;
}