.buttons {
    margin: 2rem 0;
}
.buttons > *{
    margin-right: 0.5rem;
}
.recipe-img {
    width: 100%;
}

a {
    color: #333;
}
a:hover {
    text-decoration: none;
    color: #333;
}
.recipe-thumbnail {
    margin-bottom: 2rem;
    transition: 0.25s linear;
}
.recipe-thumbnail:hover {
    box-shadow: 0.5px 0.5px 3px rgba(0,0,0,0.35);
}
.recipe-title,
.ingredient-title,
.recipe-ingredients .list li::first-letter,
.ingredient-content h2,
.recipe-content h2{
    text-transform: capitalize;
}
.card-img {
    width:100%;
    background-size: cover;
    background-position: center;
}
.card-img:after {
    content: "";
    display: block;
    padding-bottom:75%;
}
.ingredient-content {
    min-height: 33.333vh;
}
textarea.form-control {
    height: 8rem;
}

@media screen and (min-width: 768px) {
    .container-fluid {
        margin-top: 2rem;
        padding: 0 4rem;
    }
    .navbar {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}