.wrapper_new{
    width:40%;
    display:flex;
    flex-direction: row;

}

.right_wrapper{
    width: 53%;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;


}

.photo{
    width:40%;
}

a{
    color:yellow;
    text-decoration: none;
}