body{
    padding: 50px;
    width: 90%;
    margin: 0 auto;
}

header a, div a, header a:hover, div a:hover{
    text-decoration: none;
    color: inherit;
}

.ingredients-add, .instructions-add{
    color: white;
    background-color: green;
}

.ingredients-remove, .instructions-remove{
    color: white;
    background-color: red;
}

.ingredients-remove-wrapper, .instructions-remove-wrapper{
    display: none;
}

.box{
    display:flex;
    flex-wrap: wrap;
}

p{
    font-size: 11pt;
}

img{
    height: 300px;
    object-fit: cover;
}

h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}