@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900&display=swap');

body {
	font-family: 'Muli', sans-serif;
}

.main-wrapper {
	display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	max-width: 720px;
	width: 100%;
/*	border: 1px solid red;*/
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

h1 {
	font-weight: 400;
}

.recipe {
	display: flex;
	flex-direction: column;
/*	justify-content: center;*/
	width: 26%;
	margin: 5px;
	padding: 10px;
	background-color: #FF6F61;
	border: 1px solid #00ff00;
	border-radius: 10px;
}


.id {
	color: #000;
	font-size: 1em;
	font-weight: 300;
}


.name {
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
}


p {
	display: block;
	padding: 0;
	margin: 5px;
	border: 1px solid #ff00ff;
}

img {
/*	box-sizing: content-box;*/
}