body {
    padding: 10px 90px;
    color: rgb(63, 63, 63);
}

header {
    background-color: #F3DCD4; 
    text-align: center;
}

section {
    width: 100%;
}

nav {
    display: inline-block;
    width: 18%;
}

main {
    display: inline-block;
    background-color:#D9E3DA;
    position: relative;
    float: right;
    width: 79%;
    vertical-align: top;
    min-height: 480px;
    margin-bottom: 20px;
    padding: 20px 0;
}

form {
    padding: 0 3%;
}

.navs {
    background-color: #C2C2B4;
    margin: 0 0 10px 0;
    padding: 15px 20px;
    font-family: "Gochi Hand";
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 17px;
}

a:hover {
   color: white;
}


h1 {
    font-family: "Lobster";
    color: rgb(83, 83, 83);
    padding: 10px 0;
}

h3 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
}

h4 {
    margin-bottom: 15px;
    margin-top: 5px;
}

h5 {
    margin: 0;
    font-size: 19px;
}

h6 {
    margin: 2px 0 0 0;
    text-align: justify;
    font-size: 12px;
}

ul, ol {
    margin-top: 0;
}

main, h3, h4, input, textarea {
    font-family: "Gochi Hand";
}

form {
    width: 100%;
}

input[type=text] {
    padding: 5px;
    font-size: 12px;
    margin-bottom: 5px;
}

textarea {
    padding: 5px;
    font-size: 12px;
    margin: 0 1px;
    resize: vertical;
}

.eightyWidth {
    width: 80%;
}

.twentyWidth{
    width: 15px;
    text-align: center;
    color: black;
    font-size: 12px;
    background-color: white;
    display: inline-block;
    padding: 6px 5px;
    vertical-align: top;
}



.plusButton{
    border: 1px solid rgb(94, 148, 94);
    margin-left: 3px;
}

.minusButton{
    border: 1px solid rgb(148, 100, 94);
    margin-left: 2px;
}

.plusButton:hover{
    background-color: rgba(146, 211, 171, 0.616);
    cursor: pointer;
}

.minusButton:hover{
    background-color: rgba(211, 146, 146, 0.616);
    cursor: pointer;
}

input[type=submit]:hover {
    border: 1px solid rgb(119, 119, 119);
}


.eachRecipe {
    display: inline-block;
    width: 30.7%;
    margin: 0 0 2% 2%;
    vertical-align: top;
}

.eachRecipeDescription{
    width: 96%;
    background-color: #C2C2B4;
    position: relative;
    top: -8px; 
    height: 70px;
    padding: 2%;
    overflow-x: scroll;
}


img, .recipeDetails {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.recipeDetails {
    margin-top: 10px;
}

img.eachRecipeImg {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.title {
    text-decoration: overline;
}

.buttonLink {
    font-size: 15px;
    border: 1px solid rgb(63, 62, 62);
    float: right;
    padding: 3px 12px;
}


@media (max-width: 1000px){
    body {
        padding: 10px 40px;
    }

    nav {
        width: 100%;
        text-align: center;
    }

    main {
        width: 100%;
        float: none;
    }

    .eightyWidth {
        width: 60%;
    }

    .eachRecipe {
        width: 47%;
        margin: 2% 0 2% 2%;
    }
    
}


@media (max-width: 800px){
    nav {
        width: 100%;
        text-align: center;
    }

    /* main {
        text-align: center;
    } */

    .eightyWidth {
        width: 80%
    }

    .eachRecipe {
        width: 46%;
        margin: 2%;
    }
    
}

@media (max-width: 600px){
    .eachRecipe {
        width: 96%;
        margin: 2%;
    }
}
